/*==== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Color =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 239;
  --first-color: hsl(239.62, 61.37%, 79.70%);
  --second-color: hsl(206.99, 51.18%, 100%);
  /*===== Typography =====*/
  --body-font: "Inter", sans-serif;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --smaller-font-size: .80rem;
  /*===== Margin =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: #FFFFFF;
  background-color: #000;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.nav__logo img {
  width: auto;
  height: 60px;
  margin-left: -12px;
  object-fit: contain;

}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: #FFFFFF;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: #000;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #000;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgba(0, 0, 0, 1);;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding-bottom: 0.5px;
  
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    font-size: 1rem;
    padding: 2rem;
    background-color: #000000;
    transition: 0.5s;
  }
  .nav__menu.active {
    right: 0;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #FFFFFF;
}

.nav__link:hover {
  position: relative;
  
}
.nav__link:focus,
.nav__link:active {
  outline: none; 
  box-shadow: none;
  color: inherit;
  
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #FFFFFF;
}

.nav__logo {
  color: #FFFFFF;

}

.nav__toggle {
  color: #FFFFFF;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.nav__toggle .bx-menu {
  display: block;
}
.nav__toggle .bx-x {
  display: none;
}
.nav__toggle.active .bx-menu {
  display: none;
}

.nav__toggle.active .bx-x {
  display: block;
}

/* Active menu */
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #FFFFFF;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  background-color: #000;
  
}
.home__data {
  align-self: center;
  
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: #FFFFFF;
  
}
.home__title-color {
  color: #FFFFFF;
  
}
.home__social {
  display: flex;
  flex-direction: column;
  
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: #FFFFFF;
  
}
.home__social-icon:hover {
  color: #068FFF;
  
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
  
}
.home__blob {
  fill: var(--first-color);
  
}
.home__blob-img {
  width: 360px; 
  
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: var(--font-bold);
  border: 1.5px solid #FFFFFF;
  border-radius: 0rem;
  transition: 0.3s;
  
}
.button:hover {
  background-color: transparent;
  color: #068FFF;
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  border-color: #068fff;
  
}
.button:focus,
.button:active {
  outline: none; 
  box-shadow: none;
  color: inherit;
  
}

/* ABOUT */
.bandicoot-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--normal-font-size);
  row-gap: 2rem;

}
.icon-container {
  text-align: center;
  margin: 2rem 0;
  display: block;
  
}
.icon-container i {
  font-size: 1.5rem;
  color: #FFFFFF;

}
/* Quote Form */
.quote-form {
  margin-top: 2rem;
  text-align: center;
  
}
.quote-form .section__text {
  font-style: italic;
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: 1rem;
  
}
.quote__author, {
  font-weight: bold;
  color: #DCDCDC;
  
}
.quote__book {
  font-weight: normal;
  color: #DCDCDC;

}
@media (min-width: 768px) { 
  .bandicoot-form__container{
    max-width: 800px;
    margin: 0 auto;
  }
}

/*===== WORKZILLA =====*/
.workzilla__container {
  row-gap: 2rem;
  background-color: #000;
  
}
.workzilla__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.workzilla__img img {
  transition: 1s;
}
.workzilla__img img:hover {
  transform: scale(1.1);
}

/*===== SUPPORT =====*/
.support__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.support__description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-light);
  color: #FFFFFF;
  margin-bottom: var(--mb-4);
  line-height: 1.5;
}

.support__button {
  display: inline-block;
  border: 1.5px solid #FFFFFF;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin: 1rem auto;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border-radius: 0px;
  font-weight: var(--font-bold);
  transition: all 0.3s ease;
}

.support__button:hover {
  background-color: transparent;
  color: #068fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-color: #068fff;
}

@media (min-width: 768px) {
  .support__container {
    max-width: 800px;
  }
}

/*===== FOOTER =====*/
.footer {
  background-color: #000;
  color: #FFFFFF;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__logo-img {
  display: block;
  width: 120px; 
  height: auto;
  margin-bottom: var(--mb-4);
  margin-left: auto;
  margin-right: auto;
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin: 0 var(--mb-2);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}


/*===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
    background-color: #000;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .bandicoot-form__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    background-color: #000;
  }
  .bandicoot-form__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
    background-color: #000;
  }
  .workzilla__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
    background-color: #000;
  }
  .support__form {
    width: 360px;
    padding-top: 2rem;
  }
  .support__container {
    justify-items: center;
    background-color: #000;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: #FFFFFF;
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .bandicoot-form__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .bandicoot-form__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .workzilla__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
  }
